<ion-content [fullscreen]="true">
    <div id="container">
        
        <ion-card>
            <ion-card-header>
                <ion-card-title>Username: {{userData.username}}</ion-card-title>
                <ion-card-title>Email: {{userData.email}}</ion-card-title>
                <ion-card-title>Phone: {{userData.phone}}</ion-card-title>
            </ion-card-header>
        </ion-card>
        <br>
        <br>
        <ion-button color="primary" (click)="logOut()"><ion-icon name="log-out-outline"></ion-icon> LogOut</ion-button>     
    </div>
</ion-content>